.img-style{
    width: 130px;
    height: 24px;
}

.middle-style-input{
    background-color: #F2F2F2;
    width: 360px;
    height: 42px;
}

.middle-style-input input{
    margin-left: 10px;
    width: 300px;
    outline: none;
}