.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("https://images.unsplash.com/photo-1455894127589-22f75500213a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=787&q=80");
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}

.heoro-text{
    padding-top: 300px;
    color: white;
}